body {
	background-color: #D1D3D7;
}
header {
	background-color: #0070A4;
	height: 3em;
	padding-right: 5em;
}
#headerBar {
	background-color: #118BC0;
	height: 3em;
	padding: .5em 14em .5em 1em;
}
#rightBox {
	height: 2em;
	width: 7em;
	float: right;
}
#leftBox {
	background-color: #fff;
	height: 2em;
	width: 2em;
}
#rightBox > span {
	color: #A8CDE0;
}
.landing {
	background-color: #344051;
	height: 70em;
	padding: 7em 2em 4em 2em;
}
.landing > h1, p {
	color: #fff;
	text-align: center;
}
.landing > p {
	margin: 0em 3.5em;
}
.lightBlue {
	height: 12em;
	background-color: #E8F0F5;
	text-align: center;
	line-height: 2.75em;
}
.blue {
	height: 3.5em;
	background-color: #118BC0;
	margin: 3em 5em;
	border: .8em solid #212934;
	text-align: center;
	padding-bottom: 1em;
}
.blue > h2 {
	color: #fff;
}
.dash {
	background-color: #fff;
	width: 2.5em;
	height: 1em;
	margin: 0 auto;
	margin-top: 15em;
	margin-bottom: 10em;
}
#bottomLanding {
	padding-left: 4em;
}
.fix {
	height: 7em;
}
.whiteBox {
	background-color: #fff;
	height: 4em;
	width: 3em;
}
.floatText {
	color: #fff;
	float: right;
	padding-right: 2em;
	float: right;
}
.floatText > h3 {
	margin: 0;
}
.floatText > p {
	font-size: .9em;
}
.lightBlue > p {
	color: #50535D;
	font-size: 1.7em;
}
.bigWhite {
	height: 14em;
	background-color: #fff;
	margin: 2em .5em;
	padding: 1em 1em 0em 1em;
}
.topBox {
	background-color: #C7D2D8;
	height: 4em;
	width: 4em;
	margin: 0 auto;
}
.middleBox {
	height: 2em;
	margin-top: 1em;
	text-align: center;
}
.bottomBox {
	height: 3.5em;
	margin-top: 1.5em;
}
.middleBox > h3 {
	color: #486673;
}
.bottomBox > p {
	color: #3F363C;
	line-height: 1.5em;
}
#text > p {
	color: #464251;
	font-size: 1.5em;
}
.bottomBlue {
	height: 3.5em;
	background-color: #118BC0;
	margin: 0 8em;
	color: #fff;
	margin-top: 4em;
}
footer {
	height: 10em;
	background-color: #000000;
}
.links {
	margin: 0;
	padding-top: 2em;
}
a {
	color: #fff;
	text-decoration: none;
	font-size: .8em;
	margin: 0 .5em;
}

